@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.wrapper {
  width: 80%;
  margin: auto;
}

span {
  color: red;
  font-weight: bold;
  font-style: italic;
  background-color: whitesmoke;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  color: gold;
  background-color: black;
  font-style: italic;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.nana-logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  border-radius: 50px;
}

.navbar select {
  display: none;
  font-size: large;
  cursor: pointer;
  color: gold;
  border-color: transparent;
}

@media (max-width: 995px) {
  .navbar a {display: none;}
  .navbar select {display: inline-block;}
}

.nav-links {
  color: gold;
  margin-left: 20px;
  text-decoration: none;
  font-style: normal;
}

.nav-links:visited {
  color: gold;
  text-decoration: none;
}

.stonk-links {
  color: black;
  margin-left: 20px;
  text-decoration: none;
  font-weight: normal;
  background-color: lightgray;
}

.stonk-links:visited {
  color: black;
  text-decoration: none;
  font-weight: normal;
  background-color: lightgray;
}

.body-main {
  background-color: lightgray;
  min-height: 100vh;
  padding: 20px;
}

.body-content-logreg {
  border: 2px solid gold;
  background-color: whitesmoke;
  width: 40%;
  min-height: 300px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
}

.body-content-logreg h1 {
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.logregform {
  background-color: whitesmoke;
}

.form-labels {
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.login-input {
  width: 95%;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.form-subclass {
  width: 40%;
  float: left;
  border: 5px;
  margin-bottom: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.hover-button {
  background-color: black;
  color: gold;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: black;
  color: gold;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  height: 40px;
}

.hover-button:hover {
  background-color: gold;
  color: black;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: gold;
  color: black;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.logreg-links {
  text-decoration: none;
  font-style: normal;
  margin-left: 30%;
  color: black;
  background-color: lightgray;
}

.body-content-search {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  background-color: lightgray;
}

.body-content-search h1 {
  background-color: lightgray;
  margin-bottom: 10px;
}

.search-form {
  background-color: lightgray;
}

.coin-container {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.coin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: lightgray;
}

.coin {
  display: flex;
  align-items: center;
  min-width: 300px;
  padding-right: 30px;
  background-color: lightgray;
}

.coin h2 {
  width: 500px;
  margin-right: 20px;
  background-color: lightgray;
}

.coin img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: lightgray;
}

.coin-ticker {
  text-transform: uppercase;
  font-weight: normal;
  background-color: lightgray;
}

.coin-data {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items:center;
  width: 100%;
  background-color: lightgray;
}

.coin-price {
  width: 100px;
  font-weight: normal;
  background-color: lightgray;
}

.coin-marketcap{
  width: 100px;
  background-color: lightgray;
}

.star {
  height: 20px;
  width: 20px;
  background-color: lightgray;
}

.name-ticker {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: lightgray;
}

.name-ticker h1 {
  margin-right: 20px;
  background-color: lightgray;
  font-weight: normal;
}

.img-details {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: lightgray;
}

.big-price {
  margin-left: 50px;
  background-color: lightgray;
}

.big-mktcap {
  margin-left: 50px;
  margin-top: 5px;
  background-color: lightgray;
}

.chart-area {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.price-change {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.price-table {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  background-color: lightgray;
}

.price-table th {
  background-color: lightgray;
}

.price-table td {
  background-color: lightgray;
}


.red-numbers {
  color: red;
  background-color: lightgray;
}

.delete-button {
  background-color: red;
  color: whitesmoke;
  border-radius: 10px;
  margin-left: -20px;
}

.username-edit {
  background-color: lightgray;
}

.username-edit h1 {
  background-color: lightgray;
}

.body-profile {
  border: 2px solid gold;
  background-color: whitesmoke;
  width: 95%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.body-profile-pic {
  background-color: whitesmoke;
}

.body-profile-pic img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.profile-details {
  width: 50%;
  background-color: whitesmoke;
}

.profile-details-text {
  text-align: center;
  background-color: whitesmoke;
}

.profile-details-text h1 {
  background-color: whitesmoke;
  margin: 20px 0px;
}

.profile-details-text h2 {
  background-color: whitesmoke;
}

.profile-details-text p {
  background-color: whitesmoke;
  margin-bottom: 20px;
  margin-top: 10px;
}

.port-header {
  margin-top: 40px;
  background-color: lightgray;
}

.username-edit {
  display: flex;
  justify-content: space-between;
}